* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

/*settings*/
@import "fonts";
@import "var";

/*over use blocks*/
@import "header";
@import "footer";

/*pages*/
@import "slider/slider";

/*media*/
@import "media/1199";
@import "media/991";
@import "media/767";
@import "media/575";